<h2>部屋詳細</h2>
<%= notice %>
<p>施設名: <%= @room.name %></p>
<p>施設詳細: <%= @room.introduction %></p>
<p>料金: <%= @room.priice %></p>
<p>住所: <%= @room.address %></p>
<p>更新日: <%= @room.updated_at %></p>
<p>ID: <%= @room.user_id  %></p>